---
---

$body-ibm: IBM Plex Sans, sans-serif;
$body-martian-cn: Martian Grotesk Cn, sans-serif;
$heading-martian-swd: Martian Grotesk sWd, sans-serif;
$heading-ibm: IBM Plex Sans, sans-serif;
$mono-typeface: IBM Plex Mono, monospace;

$text-width: 850px;

$ya-grey-light: #D2DCDC;
$ya-grey: #87A0AF;
$ya-blue: #4042EE;
$ya-blue-mckinsey: #3857EA;
$ya-blue-dark: #1D2336;
$ya-blue-dark-mckinsey: #132230;
$ya-yellow: #E2F700;
$ya-green: #00DA72;
$ya-green-dark: #2c4942;
$ya-pink: #FF92B7;
$ya-orange: #FF5B17;


@font-face {
  font-family: "Martian Grotesk Cn";
  src: url("/static/fonts/MartianGrotesk-CnLt.woff2");
}

@font-face {
  font-family: "Martian Grotesk sWd";
  src: url("/static/fonts/MartianGrotesk-sWdBd.woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/static/fonts/IBMPlexMono-Regular-Latin1.woff2");
  font-display: swap
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/static/fonts/IBMPlexSans-Regular.woff2");
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/static/fonts/IBMPlexSans-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/static/fonts/IBMPlexSans-Italic.woff2");
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/static/fonts/IBMPlexSans-BoldItalic.woff2");
  font-style: italic;
  font-weight: bold;
}

:root {
    --body-font-size: 1.125rem;
    --line-height: 1.75rem; 
    --h1-font-size: 1.5rem; 
    --h2-font-size: 1.25rem; 
    --small-font-size: 1rem;
    --quote-font-size: 1rem; 
}

@media (max-width: 600px) {
  :root {
    --body-font-size: 1.125rem;
    --line-height: 1.575rem; 
    --h1-font-size: 1.625rem; 
    --h2-font-size: 1.375rem; 
    --small-font-size: 1rem; 
    --quote-font-size: 1rem;
  }

  .about-picture {
    padding: 5%;
  }

}

html {
  --box-background: hsl(240, 9%, 90%);
  --main-background: white;
  --light-border: hsl(0, 0%, 90%);
  --text-extra-light: hsl(240, 1%, 45%);
  --text-light: hsl(240, 1%, 35%);
  --text-main: #2c4942;
  --text-main-reverse: white;
  --text-link: rgb(65, 110, 210);
  --underline: hsl(0, 0%, 50%);
  --tag-background: #d2dcdc;
  --date-background: #d2dcdc
}

@media (prefers-color-scheme: dark) {
  html {
    --box-background: hsl(0, 0%, 20%);
    --main-background: #121212;
    --light-border: hsl(0, 0%, 30%);
    --text-extra-light: hsl(0, 0%, 55%);
    --text-light: hsl(0, 0%, 65%);
    --text-link: hsl(193, 85%, 50%);
    --text-main: #d2dcdc;
    --text-main-reverse: #2c4942;
    --underline: hsl(0, 0%, 50%);
    --tag-background: #2c4942; // #2E4F4F;
    --date-background: #1D2336;
  }
  p {
    letter-spacing: .005em;
  }
}

html {
  background-color: var(--main-background);
  color: var(--text-main);
  font-family: $body-ibm;
  font-feature-settings: "kern" on;
  font-variant-ligatures: common-ligatures;
  height: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: var(--line-height) 0 0 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0 7.5%;
}

p, li, details, summary {
  font-size: var(--body-font-size);
  line-height: 1.4; 
}

nav {
  font-family: $body-martian-cn;
  color: white;
  font-size: var(--small-font-size);
  margin: 0;
  a {
    color: #D2DCDC;
    text-decoration: none;
  }
}

main {
  flex: 1;
  margin: 0;
  max-width: $text-width;
  width: 100%;
}

header {
  font-family: $heading-martian-swd;
  // margin: calc(3 * var(--line-height)) 0 calc(1.5 * var(--line-height)) 0;
  max-width: $text-width;
  width: 100%;
  h1 {
    font-size: var(--h1-font-size);
    font-variant-numeric: normal;
    line-height: 2;
    margin-bottom: 1px;
    padding-bottom: calc(0.8 * var(--line-height));
  }
  nav span a{
    font-family: $heading-ibm;
    font-size: var(--small-font-size);
    color: var(--text-main);
    border: solid 1px $ya-grey;
    height: 30px;
    padding: 5px 10px;
    position: static;
    text-align: center;
    transition: 0.4s;
  }
  nav span a:hover{
    font-family: $heading-ibm;
    font-size: var(--small-font-size);
    //font-weight: bold;
    background: $ya-grey-light;
    color: $ya-green-dark;
    border: solid 1px transparent;
    text-decoration: none;
    height: 30px;
    padding: 5px 10px;
    position: static;
    text-align: center;
    transition: 0.4s;
  }
  div img{
    float: left;
    background: transparent;
    // margin-bottom: 1px;
  }
  div h1{
    position: relative;
  }
}

img{
  float: left;
  background: transparent;
  margin-bottom: 1px;
}

title {
  display: none;
}

// ----------------------------------------------

.post-title {
  background-color: transparent;
  text-align: left;
  border-bottom: none;
  padding-bottom: 0;
  span {
    display: flex;
    a {
      color: var(--text-main-reverse);
      font-family: $heading-martian-swd;
      background-color: #4042EE;
      padding: 5px;
    }
    a:hover {
      color: var(--text-main-reverse);
      text-decoration: none;
    }
  }
}

.author-span {
  display: block;
  margin-top: 0;// 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  time {
    font-family: $heading-ibm;
    font-size: var(--small-font-size);
    font-weight: bold;
    text-align: right;
    color: var(--text-main-reverse);
    background-color: #87A0AF;
    border: solid white 1px;
    border-left: none;
    padding: 5px;
  }
}

.author {
  font-family: $heading-ibm;
  font-size: var(--small-font-size);
  font-weight: bold;
  background: #4042EE;
  // background-color: transparent;
  border: solid white 1px;
  border-left: none;
  color: var(--text-main-reverse); // color: #4042EE; // var(--reverse-main-text);
  height: 30px;
  padding: 5px;
  position: static;
  text-align: center;
  transition: 0.4s;
}

.author:hover{
  color: var(--text-main);
  text-decoration: none;
  background-color: #E2F700;
}

.tag-span {
  display: block;
  margin-top: 20px;
}

.tag {
  font-family: $heading-martian-swd;
  background: none;
  border: solid 1px #86a0af;
  color: var(--text-main);
  margin-top: 0;
  height: 32px;
  padding: 0 6px 0 6px;
  position: static;
  text-align: center;
  transition: 0.3s;
}

.tag:hover {
  background-color: var(--tag-background);
  border: solid 1px var(--tag-background);
  color: var(--text-main);
  padding: 0 6px 0 6px;
}

.tag:hover::after {
  border-left-color: #503d3d;
  padding: 0 5px 0 5px;
}

// ----------------------------------------------

footer {
  border-top: 1px solid var(--text-light);
  color: var(--text-light);
  display: flex;
  flex-wrap: wrap;
  font-size: var(--small-font-size);
  margin: calc(2.5 * var(--line-height)) 0 0 0;
  max-width: $text-width;
  padding: 1em 0 calc(3 * var(--line-height)) 0;
  width: 100%;
  a {
    color: var(--text-light);
    margin-right: 5%;
    text-decoration: none;
  }
}

h2, h3 {
  font-family: $heading-martian-swd;
  font-size: var(--h2-font-size);
  margin: calc(var(--line-height) * 1.5) 0 0 0;
  font-weight: bold;
}

h2 + p, h3 + p {
  margin-top: calc( var(--line-height) * .75);
}

ul, ol {
  list-style-position: outside;
  padding-left: var(--line-height);
}

li + li, ul li ul, ul li ul li {
  margin: calc(.5 * var(--line-height)) 0 0 0;
}

blockquote {
  margin: var(--line-height) 0;
  padding: 0 1.5em;
  p {
    font-size: var(--quote-font-size);
    hanging-punctuation: first;
    line-height: 1.3;
  }
  li {
    padding: 0;
  }
}

.quote-attribution {
  font-style: italic;
  margin-top: calc( .5 * var(--line-height));
}

a {
  font-family: $body-ibm;
  color: var(--text-main);
  text-decoration-color: var(--text-extra-light);
}
 
pre {
  font-family: $mono-typeface;
  font-size: 1rem;
  hanging-punctuation: none;
  overflow: scroll;
  padding: var(--line-height); 
}

code {
  font-family: $mono-typeface;
  font-size: 1rem;
  line-height: 1.4;
}

p code {
  background-color: var(--box-background);
}

img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

figcaption {
  color: var(--text-light);
  margin-top: calc(.5 * var(--line-height));
  text-align: center;
}

aside, .callout {
  background-color: var(--box-background);
  border-left: 5px solid var(--light-border);
  font-size: var(--small-font-size);
  margin: calc(1.25 *var(--line-height)) 0;
  padding: calc(.5 * var(--line-height));
  * + * {
    margin: 0;
  }
  h2, h3 {
    font-size: var(--small-font-size);
    letter-spacing: 0;
    margin: 0 0 0 0;
    padding-top: 0;
    text-transform: none;
  }
  h2 + *, h3 + * {
    margin-top: calc(.25 * var(--line-height));
  }
  p, li {
    font-size: var(--small-font-size);
  }
  p + p {
    margin: calc(.75 * var(--line-height)) 0 0 0; 
  }
  li {
    margin: calc(.25 * var(--line-height)) 0 0 0; 
  }
}


.tag-list {
  background-color: var(--main-background);
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(.5 * var(--line-height));
  padding: 0;
  a, button {
    background-color: var(--box-background);
    border: 1px solid var(--light-border);
    border-radius: 4px;
    color: var(--text-main);
    flex-grow: .01;
    font-size: var(--small-font-size);//var(--body-font-size);
    font-variant-numeric: oldstyle-nums;
    margin: 1% 2% 1% 0;
    padding: .25em .75em .25em .55em;
    text-decoration: none;
  }
  a:hover {
    background-color: var(--main-background);
  }
}

.posts-by-tag {
  h2 {
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  .blog-listing-link {
    font-weight: 400;
  }
}

// homepage 

.internal-link, .internal-link a {
  font-family: $body-martian-cn;
  color: var(--text-light);
  font-size: var(--small-font-size);
  text-decoration: none;
}

.about-picture {
  float: right; 
  margin: 0; 
  padding: 1% 5% 5% 5%;
  width: clamp(100px, 200px, 50%);
  img {
    border: 1px solid var(--main-background);
    border-radius: 1%;
  }
} 

.copy-buttons {
  margin-top: calc(.5 * var(--line-height));
}

.sitemap a {
  text-decoration: none;
}

.sitemap h2 {
  letter-spacing: 0;
  text-transform: none;
}

.sitemap ul {
  list-style-type: none;
}

.footnotes li, .footnotes p {
  color: var(--light-font-color);
  font-size: var(--small-font-size);
}

.search-bar {
  display: flex;
  margin-top: calc(.25 * var(--line-height));
}

.search-bar-input {
  margin-top: -25px;//calc(-.5 * var(--line-height));
}

.form-control {
  background-color: var(--box-background);
  border: 1px solid var(--light-border);
  border-radius: 4px;
  color: var(--text-main);
  height: calc( 1.5 * var(--line-height));
  flex: 5 1 auto;
  font-family: $body-ibm;
  font-size: var(--small-font-size);
  margin-top: 0;
  min-width: 50%;
  padding-left: .5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

.form-control::placeholder {
	color: var(--text-light);
}

.btn-default {
  background-color: var(--box-background);
  border: 1px solid var(--light-border);
  border-radius: 4px;
  color: var(--text-main);
  font-family: $body-ibm;
  font-size: var(--small-font-size);
  font-weight: normal;
  margin: 0 0 0 .5em;
  padding: 0 .5em;
}

.btn-default:hover {
  background-color: var(--main-background);
  color: var(--text-link);
  text-decoration: underline;
}

.small-caps { 
  letter-spacing: .075em;
}

.index-title {
  text-transform: uppercase;
  letter-spacing: .1em;
}

.blog-listing-link {
  color: var(--text-main);
  text-decoration: none;
  font-variant-numeric: normal;
}

.blog-listing-link + time {
  color: var(--text-main);
}

.index-latest-posts span{
  color: $ya-green-dark;
  background-color: #E2F700;
  margin-top: 15px;
  padding: 5px;
}

div span {
  display: inline-grid;
  border: solid 1px #87A0AF;
  width: fit-content;
  padding: 5px;
  text-indent: 1px;
}

// ------------------------------------------------------------------------------------

$card-back-color: #E6E5E1;
$card-border-color: #87A0AF;
$shadow-gray: #d3d3d5;
$ya-grey: #D2DCDC;
$ya-orange: #FF5B17;
$ya-yellow: #E2F700;
$ya-blue: #4042EE;
$img-url: "https://images.unsplash.com/photo-1525543907410-b2562b6796d6?ixlib=rb-0.3.5&s=9ff8e5e718a6a40cbd0e1471235912f4&auto=format&fit=crop&w=3452&q=80";
$img-url2: "https://images.unsplash.com/photo-1528785198459-ec50485704c7?ixlib=rb-0.3.5&s=3a2fc3039516555bbb2e9cd2967bd321&auto=format&fit=crop&w=1537&q=80";

i {
  opacity: 0;
  font-size: 18px;
  color: #fff;
  will-change: transform;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

h2{
  pointer-events:none;
}

// implementations with divs
.cards {
  @media (max-width: 920px) {
    width: 100%;
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: start;
    //flex-direction: column;
    flex-flow: row wrap;
  }
  z-index: 100;
  width: 100%;
  display: flex;
  position: sticky;
  justify-content: flex-start;
  align-items: start;
  flex-flow: row wrap;
  margin-top: 10px;

  .card-article {
    @media (max-width: 920px) {
      position: sticky;
      width: 80%;
      height: calc(5 * var(--line-height)); // 200px;
      background-color: transparent;
      overflow: clip;
      margin-right: 5%;
    }
    position: relative;
    display: block;
    width: 49%;
    height:  calc(4 * var(--line-height));// 300px;
    border: solid 1px $card-border-color;
    margin-left: -1px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: transparent;// #132230;

    .date {
      z-index: 98;
      position: absolute;
      top: -1px;
      right: 0;
      border-color: $card-border-color;
      border-right: none;
      background-color: var(--date-background); // #1D2336;
      padding-top: 3px;
      padding-bottom: 3px;
      margin-top: 0;
      float: right;
    }
    time {
      z-index: 98;
      position: relative;
      margin: 3px;
      color: var(--text-main);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    .title-preview {
      z-index: 99;
      width: 100%;
      color: var(--text-main);
      font-family: $heading-ibm;
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      left: 5px;
      bottom: 5px;
      white-space: normal;
      text-align: left;
    }
    .title-preview p {
      margin-top: 0;
      margin-right: 5px;
    }

    // arrow (read more)
    .fa-square-arrow-right {
      z-index: 100;
      position: absolute;
      right: 14px;
      bottom: 14px;
      font-size: 40px;
      cursor: pointer;
    }
    &:hover i {
      //opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    .img-preview {
      //z-index: 100;
      //width: 400px;
      //height: 200px;
      //background-image: url($img-url);
      //background-size: 100% 100%;
      //filter: grayscale(100%);
    }
    &:hover .img-preview {
      filter: grayscale(0);
    }

    button{
      z-index: 100;
      position: absolute;
      right: 90%;
      bottom: 80%;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: none;
      cursor: pointer;
      outline: none;
      transition: all 0.5s ease;
      mix-blend-mode: hard-light;
      i {
        font-size: 3rem;
      }
    }
  }
  .card-article:hover {
    background-color: $ya-yellow;
    cursor: pointer;
    transition: 0.4s;
    .title-preview {
      color: $ya-green-dark;
    }
  }

  .card-notes {
    @media (max-width: 920px) {
      position: sticky;
      width: 80%;
      height: calc(5 * var(--line-height));
      background-color: transparent;
      overflow: clip;
      margin-right: 5%;
    }
    position: relative;
    display: block;
    width: 49%;
    height:  calc(4 * var(--line-height));// 300px;
    border: solid 1px $card-border-color;
    margin-left: -1px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: transparent;// #132230;

    .date {
      z-index: 98;
      position: absolute;
      top: -1px;
      right: 0;
      border-color: $card-border-color;
      border-right: none;
      background-color: var(--date-background); // #1D2336;
      padding-top: 3px;
      padding-bottom: 3px;
      margin-top: 0;
      float: right;
    }
    time {
      z-index: 98;
      position: relative;
      margin: 3px;
      color: var(--text-main);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    .title-preview {
      z-index: 99;
      width: 100%;
      color: var(--text-main);
      font-family: $heading-ibm;
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      left: 5px;
      bottom: 5px;
      text-align: left;
    }
    .title-preview p {
      margin-top: 0;
      margin-right: 5px;
    }

    // arrow (read more)
    .fa-square-arrow-right {
      z-index: 100;
      position: absolute;
      right: 14px;
      bottom: 14px;
      font-size: 40px;
      cursor: pointer;
    }
    &:hover i {
      //opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    .img-preview {
      //z-index: 100;
      //width: 400px;
      //height: 200px;
      //background-image: url($img-url);
      //background-size: 100% 100%;
      //filter: grayscale(100%);
    }
    &:hover .img-preview {
      filter: grayscale(0);
    }

    button{
      z-index: 100;
      position: absolute;
      right: 90%;
      bottom: 80%;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: none;
      cursor: pointer;
      outline: none;
      transition: all 0.5s ease;
      mix-blend-mode: hard-light;
      i {
        font-size: 3rem;
      }
    }
  }
  .card-notes:hover {
    background-color: rgba(255, 146, 183, 0.7);
    cursor: pointer;
    transition: 0.4s;
  }

  .card-now {
    @media (max-width: 920px) {
      position: sticky;
      width: 80%;
      height: calc(5 * var(--line-height));
      background-color: transparent;
      overflow: clip;
      margin-right: 5%;
    }
    position: relative;
    display: block;
    width: 49%;
    height:  calc(4 * var(--line-height));// 300px;
    border: solid 1px $card-border-color;
    margin-left: -1px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: transparent;// #132230;

    .date {
      z-index: 98;
      position: absolute;
      top: -1px;
      right: 0;
      border-color: $card-border-color;
      border-right: none;
      background-color: var(--date-background); // #1D2336;
      padding-top: 3px;
      padding-bottom: 3px;
      margin-top: 0;
      float: right;
    }
    time {
      z-index: 98;
      position: relative;
      margin: 3px;
      color: var(--text-main);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    .title-preview {
      z-index: 99;
      width: 100%;
      color: var(--text-main);
      font-family: $heading-ibm;
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      left: 5px;
      bottom: 5px;
      text-align: left;
    }
    .title-preview p {
      margin-top: 0;
      margin-right: 5px;
    }

    // arrow (read more)
    .fa-square-arrow-right {
      z-index: 100;
      position: absolute;
      right: 14px;
      bottom: 14px;
      font-size: 40px;
      cursor: pointer;
    }
    &:hover i {
      //opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    .img-preview {
      //z-index: 100;
      //width: 400px;
      //height: 200px;
      //background-image: url($img-url);
      //background-size: 100% 100%;
      //filter: grayscale(100%);
    }
    &:hover .img-preview {
      filter: grayscale(0);
    }

    button{
      z-index: 100;
      position: absolute;
      right: 90%;
      bottom: 80%;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: none;
      cursor: pointer;
      outline: none;
      transition: all 0.5s ease;
      mix-blend-mode: hard-light;
      i {
        font-size: 3rem;
      }
    }
  }
  .card-now:hover {
    background-color: $ya-orange;
    cursor: pointer;
    transition: 0.4s;
    .title-preview {
      color: $ya-green-dark;
    }
  }
}


//
//    // grey circles
//    //&:before {
//    //  content: "";
//    //  z-index: 99;
//    //  position: absolute;
//    //  top: -10px;
//    //  left: 32px;
//    //  display: block;
//    //  width: 16px;
//    //  height: 16px;
//    //  border-radius: 16px;
//    //  background-color: $card-back-color;
//    //}
//    //&:after {
//    //  content: "";
//    //  z-index: 99;
//    //  position: absolute;
//    //  bottom: -10px;
//    //  left: 32px;
//    //  display: block;
//    //  width: 16px;
//    //  height: 16px;
//    //  border-radius: 16px;
//    //  background-color: $card-back-color;
//    //}
//
//    //h2 {
//    //  z-index: 99;
//    //  font-family: $body-ibm;
//    //  font-weight: bold;
//    //  position: absolute;
//    //  margin-top: 60px;
//    //  //bottom: 0;
//    //  //right: 130px;
//    //  //font-size: 60px;
//    //  //font-weight: 700;
//    //  color: var(--main-text-color);
//    //}
//
//    //&:hover p {
//    //  color: #fff;
//    //}
//
//    //.social {
//    //  position: absolute;
//    //  left: 60px;
//    //  top: 0;
//    //  display: -webkit-box;
//    //  display: -ms-flexbox;
//    //  display: flex;
//    //  -ms-flex-pack: distribute;
//    //  justify-content: space-around;
//    //  -webkit-box-align: center;
//    //  -ms-flex-align: center;
//    //  align-items: center;
//    //  width: 180px;
//    //  height: 64px;
//    //  border-radius: 80px;
//    //}
//
//    //.social i:nth-of-type(1) {
//    //  -webkit-transition-delay: 0.4s;
//    //  transition-delay: 0.4s;
//    //}
//    //
//    //.social i:nth-of-type(2) {
//    //  -webkit-transition-delay: 0.3s;
//    //  transition-delay: 0.3s;
//    //}
//    //
//    //.social i:nth-of-type(3) {
//    //  -webkit-transition-delay: 0.2s;
//    //  transition-delay: 0.2s;
//    //}
//    //
//    //.social i:nth-of-type(4) {
//    //  -webkit-transition-delay: 0.1s;
//    //  transition-delay: 0.1s;
//    //}
//  }
//}

// ------------------------------------------------------------------------------------
.input-label {
  color: var(--text-main);
  font-weight: bold;
  font-size: var(--body-font-size);
  margin-bottom: 0;
}

.quarter-line-space {
  display: block;
  margin-top: calc( .25 * var(--line-height));
}

// Note styling 

.note-entry:first-of-type {
  border: none;
}


.note-entry {
  border-top: 1px solid var(--light-border);
  margin: 0;
  padding: calc(1.25 * var(--line-height)) 0;
  h1 {
    font-family: $heading-ibm;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 0;
  }
  h2 {
    font-family: $heading-ibm;
    font-size: var(--body-font-size);
  }
  h1 + p, h2 + p {
    margin-top: calc( var(--line-height) * .25)
  }
}

.note-date-line {
  font-family: $body-ibm;
  color: var(--text-light);
  font-size: var(--small-text-size);
  a {
    color: var(--text-light);
    text-decoration: none;
  }
}

mark {
  background-color: #FFE500;//hsl(60, 90%, 45%);
}

// link hover styles at the end so they apply to all links

a:hover {
  color: var(--text-light);
  text-decoration: underline solid;
  text-decoration-color: currentColor;
}
