{% if forloop.last != true %}
<a class="internal-link" href="/blog" title="All articles by {{ author }}">{{ author }}</a>&nbsp;&middot;&nbsp;
{% endif %}

<!-- {% assign authorCount = page.authors | size %}
{% if authorCount == 0 %}
{{ site.author }}
{% elsif authorCount == 1 %}
{{ page.authors | first }}
{% else %}
{% for author in page.authors %}{{ author }}&nbsp;&middot;&nbsp;{% endfor %}
{% endif %} -->

<!-- {% if page.authors | size == 0 %}
<span>{% for author in page.authors %}{% include author.html %}{% endfor %}</span> <a href="/" title="Home" rel="author" class="internal-link">Derek Kedziora</a>
{% else %}{{ site.author }}
{% endif %} -->