{%- if page.permalink != "/" and page.permalink != "/404.html" -%}
<div class="main-site-subheader disable-select" id="scroll-head">
    <div class="back-icon" onclick="window.location.assign('/');">
        <svg class="ripple" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"/>
        </svg>
    </div>
    <p class="back-p">Home</p>
</div>
{%- endif -%}

{%- if site.copyright.msg != nil and site.copyright.msg != empty and site.copyright.msg != null -%}
<div>
    <div class="footer-left">
        <p id="copyright-notice">© {{site.copyright.msg}}. {{site.copyright.year}}</p>
    </div>
    <div class="footer-right">
        <a class="footer-right-item" href="/storage">
            <svg class="footer-right-item-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                 stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 11a9 9 0 0 1 9 9"></path>
                <path d="M4 4a16 16 0 0 1 16 16"></path>
                <circle cx="5" cy="19" r="1"></circle>
            </svg>
        </a>
    </div>
</div>
{%- endif -%}
