@font-face
  font-family: 'Ubuntu'
  src: local('Ubuntu'), local('Ubuntu-Regular'), url('../fonts/Ubuntu-Regular.woff') format('woff') // url('../fonts/PTSans-Regular.woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Ubuntu'
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('../fonts/Ubuntu-Bold.woff') format('woff') // url('../fonts/PTSans-Bold.woff')
  font-weight: bold
  font-style: normal
