{%- include head-matter.html -%}

<body>

<main class="index">

<header>
	<div class="logo">
		<img src="static/logos/logo.svg" alt="logo" role="img" width="50" height="50"/>
		<h1 class="index-title">&nbsp;{{ site.title }}</h1>
	</div>
	<nav>
	<span>
		<a class="navigation" href="/blog" title="Check out latest articles">Blog</a>
		<a href="/about" title="Get more acquainted">About</a>
		<a href="/contact" title="Ways to reach Ilya">Contacts</a>
	</span>
	</nav>
</header>

{{ content }}

<h2 class="index-latest-posts"><span>Latest publications</span></h2>

{%- assign i = 0 -%}
{% assign display-post-type = true %}

<div class="cards">
{%- for post in site.posts -%}
	{%- unless post.categories contains "rss-club" or post.categories contains "unlisted"-%}
		{%- assign i = i | plus: 1 -%}
		{%- include blog-listing.html -%}
	{% endunless %}

	{%- if i == 6 -%}
		{%- break -%}
	{%- endif -%}
{% endfor %}
</div>

<p><a href="/blog" class="internal-link">All posts →</a></p>

</main>

{%- include footer.html -%}

</body>

<!-- {% include about-picture-script.html %} -->

</html>