{%- include head-matter.html -%}
{%- include pretty-numbers.html -%}

<main>
<article>
<header>
	<h1 class="post-title"><span><a>{%- if page.nowPage -%}{{ site.categories.now[0].title }}{%- else -%}{{ page.title }}{%- endif -%}</a></span></h1>
	<p class="post-author-and-time">
		{%- if page.authors -%}
			{%- assign authorCount = page.authors | size -%}
			{%- if authorCount == 1 -%}
				<a class="internal-link" href="/blog" title="All articles by {{ author }}">{{ page.authors | first }}</a>&nbsp;&middot;&nbsp;
			{%- else -%}
				{%- for author in page.authors -%}
					<a class="internal-link" href="/blog" title="All articles by {{ author }}">{{ author }}</a>&nbsp;&middot;&nbsp;
				{%- endfor -%}
			{%- endif -%}
		{%- else -%}
			<a class="internal-link" href="/blog" title="All articles by {{ author }}">{{ site.author }}</a>&nbsp;&middot;&nbsp;
		{%- endif -%}

		{%- unless page.category contains "english-guide" -%}
		<time datetime="{{ postDate | date: '%Y-%m-%d' }}">
		{%- unless page.custom-date %}{{ postDate | date: "%B" }} {{prettyDateOfPost}}{{ ordinalEnding }}, {{ postDate | date: "%Y" }}{%- else -%}{{ page.custom-date }}{%- endunless -%}</time>{% endunless %}
	</p>
	<span class="post-tags">{% for tag in page.tags %}{% include tags.html %}{% endfor %}</span>
</header>

{%- if page.categories contains "now" -%}
	{%- include now-blurb.html -%}
{%- endif -%}

{%- if page.categories contains "rss-club" -%}
	{%- include rss-plug.html -%}
{%- endif -%}

{{ content }}
</article>

{%- if page.categories contains "now" -%}
	{%- include now-listing.html -%}
{%- endif -%}
</main>

{%- include footer.html -%}
</body>
</html>
